<h1><strong><%= @book.title %></strong></h1>
<p>Escrito por <strong><%= @book.author %></strong></p>
<p>Avalia&ccedil;&atilde;o: <strong><%= star_rating(rating: @book.rating) %></strong></p>
<p>Sobre o livro:</p>
<p><%= @book.description %></p>
<p>&nbsp;</p>
